:root {
    --font-family: "Inter", serif;

    --color-background: #fff;
    --color-text: #1c1e21;
    --color-text-light: #6b7280;
    --color-accent: #0189f4;
    --color-line: #e5e7eb;
    --color-code: #f3f4f6;

    --width-desktop: 52rem;
    --width-tablet: 46rem;
    --width-mobile: 100%;

    --spacing-xxs: 0.25rem; /* 4px */
    --spacing-xs: 0.5rem; /* 8px */
    --spacing-sm: 0.75rem; /* 12px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2rem; /* 32px */
    --spacing-xxl: 3rem; /* 48px */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;
    --font-3xl: 3rem;
}

html[data-theme="dark"] {
    --color-background: #09090b; /* Slate-900 */
    --color-text: #f8fafc; /* Slate-50 */
    --color-text-light: #94a3b8; /* Slate-400 */
    --color-accent: #3b82f6; /* Blue-500 */
    --color-accent-hover: #60a5fa; /* Blue-400 */
    --color-line: #1e293b; /* Slate-800 */
    --color-code: #1e293b; /* Slate-800 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-md);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.astro-code,
.astro-code span {
    font-family: "IBM Plex Mono", monospace;
}

html[data-theme="dark"] {
    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

code:not(pre code) {
    border-radius: 0.25rem;
    background-color: var(--color-code);
    padding: 0.25rem;
    font-weight: 600;
    font-size: var(--font-xs);
    font-style: italic;
}
