:root {
  --color-background: #fff;
  --color-text: #4a4a4a;
  --color-title: #363636;
  --color-accent: #0189f4;
  --color-line: #e5e7eb;
  --color-code: #f5f5f5;

  --width-desktop: 52rem;
  --width-tablet: 46rem;
  --width-mobile: 100%;

  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 3rem;
}

html[data-theme="dark"] {
  --color-background: #09090b; /* Slate-900 */
  --color-text: #f8fafc; /* Slate-50 */
  --color-title: #f8fafc;
  --color-accent: #3b82f6; /* Blue-500 */
  --color-accent-hover: #60a5fa; /* Blue-400 */
  --color-line: #1e293b; /* Slate-800 */
  --color-code: #cecece; /* Slate-800 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Consolas", "Courier New", monospace, sans-serif;
  font-size: var(--font-md);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

p > a {
  color: var(--color-accent);
}

p > a:hover {
  color: var(--color-accent-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

.astro-code,
.astro-code span {
  background-color: var(--color-code) !important;
}

html[data-theme="dark"] {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

code:not(pre code) {
  background-color: var(--color-code);
  padding: 0.25rem;
  font-weight: 500;
  font-size: var(--font-sm);
  color: #da1039;
}
