<footer class="footer">
    <p class="footer__text">livensmi1e &copy; 2026</p>
    <div class="footer__social">
        <span>
            <a href="https://github.com/livensmi1e/space"
                >/github</a
            >
        </span>
        <span>
            <a href="https://placetohidee.blogspot.com/">
                /blogger
            </a>
        </span>
        <span>
            <a href="https://www.instagram.com/_qb.livensmi1e/"
                >/instagram</a
            >
        </span>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-lg) 0;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-md);
    }
</style>

<script>
    document.querySelectorAll(".footer__social a").forEach((anchor) => {
        anchor.setAttribute("target", "_blank");
    });
</script>
