---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
const { imageFolder }= Astro.props;

const imagesImportFns = import.meta.glob<{default: ImageMetadata}>("/src/assets/gallery/**/*.{jpeg,jpg,png,gif}");
const imagePaths = Object.keys(imagesImportFns).filter((imagePath) => {
    return imagePath.startsWith(`/src/assets/gallery/${imageFolder}`)
}).sort((a, b) => {
    const getNumber = (path: string) => {
      const match = path.match(/(\d+)/);
      return match ? parseInt(match[1], 10) : 0;
    };
    return getNumber(a) - getNumber(b);
});
---

<section class="gallery" id="gallery">
    {
        imagePaths.map(async (imagePath: any) => {
            let image = imagesImportFns[imagePath]();
            let optimizedImage =  await getImage({
				src: image,
			});
            return (
                <a 
                    href={optimizedImage.src}
                    data-pswp-width="1080"
                    data-pswp-height="720"
                    data-cropped="true"
                    target="_blank"
                    class="gallery__item"><Image src={image} alt=""></Image>
                </a>
            )
        })
    }
</section>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
        bgOpacity: 0.8,
    });

    lightbox.init();
</script>

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px);
        gap: var(--spacing-sm);
        margin: auto;
        margin-bottom: var(--spacing-xl);
        padding: var(--spacing-sm);
        justify-content: center;
    }

    .gallery__item {
        display: block;
        height: 125px;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        transition: 0.3s; 
    }   

    .gallery__item:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .gallery__item img {
        filter: brightness(95%);
        display: block;
        width: 100%;
        height: 100%;
    }

    .gallery__item img:hover {
        filter: brightness(100%);
    }

    @media (max-width: 768px) {
        .gallery__item {
            /* height: 100%;
            width: 100%; */
            /* margin: auto; */
        }
    }

</style>
