<section class="hero">
    <p class="hero__title">~ My memories, my journey ~</p>
    <p class="hero__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis iste
        error, dignissimos eos autem velit cumque fugiat quis nostrum in
        similique aut modi quo odio minus aliquid praesentium tempore provident?
    </p>
    <div class="hero__quote">
        <p class="quote">
            <span class="quote__head"
                >&#x201CGood morning, and in case I don't see ya,</span
            >
            <br />
            <span class="quote__tail">
                good afternoon, good evening, and good night.&#x201D</span
            >
        </p>
        <p class="quote__author">&mdash; Truman</p>
    </div>
</section>

<style>
    .hero {
        padding: var(--spacing-lg) 0;
    }

    .hero__title {
        margin: var(--spacing-md) 0;
        font-size: var(--font-2xl);
        font-weight: 600;
    }

    .hero__description {
        margin-bottom: var(--spacing-md);
        font-weight: 400;
    }

    .hero__quote {
        font-size: var(--font-lg);
        max-width: 45rem;
        margin: 0 auto;
        font-style: italic;
        text-align: center;
    }

    .quote__author {
        text-align: right;
        font-weight: 600;
        font-style: normal;
    }

    .quote {
        display: flex;
        flex-direction: column;
    }

    .quote__head {
        display: inline-block;
        margin-right: auto;
    }

    .quote__tail {
        display: inline-block;
        margin-left: auto;
        margin-bottom: var(--spacing-xs);
    }

    @media (max-width: 768px) {
        .hero__title {
            font-size: var(--font-xl);
        }   

        .hero__quote {
            font-size: var(--font-md);
        }
    }
</style>
