---
import BaseLayout from "./Base.astro";
import Markdown from "../components/Markdown.astro";
import Comment from "../components/Comment.tsx";

const { meta } = Astro.props;
---

<BaseLayout>
    <div class="markdown">
        <h1 class="markdown__title">{meta.data.title}</h1>
        <div class="markdown__meta">
            <span>Written at: </span>
            <span>{meta.data.date}</span>
            <span>|</span>
            <span>{meta.data.time}</span>
        </div>
        <p class="markdown__desc">
            {meta.data.description}
        </p>
        <Markdown>
            <slot />
        </Markdown>
        <Comment client:only="react"/>
    </div>
</BaseLayout>

<style>
    .markdown__title {
        margin-top: var(--spacing-lg);
        margin-bottom: var(--spacing-xs);
        font-size: var(--font-2xl);
        color: var(--color-accent);
    }

    .markdown__title:hover {
        color: var(--color-text);
    }

    .markdown__meta {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        font-size: var(--font-md);
        margin-bottom: var(--spacing-lg);
    }

    .markdown__desc {
        margin-bottom: var(--spacing-lg);
    }
</style>